@media (max-width:1199px){
  .iden{
      padding-bottom: 150px;
  }
}

@media (max-width: 991px){
    .photoku{
        display: none;
    }
    .iden{
        margin-top: -70px;
        padding-bottom: 120px;

    }
}

@media (max-width: 767px) {
    .iden{
        padding-bottom: 90px;
    }
    .identitas{
        padding-bottom: 10px;
    }
    h1{
        color: white;
        font-size: 40px;
        font-weight: 600;
        letter-spacing: 4px;
    }
    .photoku{
        width: 100%;
    }
    .identitas p{
        width: 100%;
    }
    .akun-project{
        width: 100%;
    }
    .project-saya{
        padding-top: 100px;
    }
}
@media (max-width: 550px) {
    .iden{
        width: 99%;
        padding-bottom: 10px;
    }
    .identitas{
        padding-bottom: 100px;
    }
    .project-saya{
        margin-top: 50px;
        padding-top: 150px;
    }
    .akun-project{
        margin-top: -60px;
    }
    .card-img-bottom.image-port{
        width: 100%;
        height: 30vw;
        object-fit: cover;
    }
}

@media (max-width: 430px) {
    .identitas{
        padding-bottom: 100px;
    }
}
@media (max-width: 392px) {
    
    
}
@media (max-width: 375px) {
 
    
}
@media (max-width: 330px) {
    
    h1{
        color: white;
        font-size: 30px;
        font-weight: 600;
        letter-spacing: 4px;
    }
    .project-saya{
        padding-top: 130px;
    }
}

@media (max-width : 280px) {

}