@media (max-width:1024px){

}

@media (max-width: 991px){
    
}

@media (max-width: 767px) {
    .iden{
        margin-top: -430px;
    }
    h1{
        color: white;
        font-size: 40px;
        font-weight: 600;
        letter-spacing: 4px;
    }
    .photoku{
        width: 100%;
    }
}

@media (max-width: 330px) {
    h1{
        color: white;
        font-size: 40px;
        font-weight: 600;
        letter-spacing: 4px;
    }
}